html {

  max-width: 1000px;
	margin: auto;
  padding: 50px;
  
}

body {
  background-image: url('https://images.pexels.com/photos/1089842/pexels-photo-1089842.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  .parallax();
}

header {

  background-color: lightblue;
  text-align: center;
  
}



.form {
  
    text-align: center;
    margin-top: 15%;
}

input {

  border-radius: 5px;
	min-width: 65%;
	padding: 5px;
  border: none;
  border: 1px solid lightblue;
}


#enter {

  border: none;
	padding: 5px 15px;
	border-radius: 5px;
	color: #04A1BF;
	background-color: lightblue;
  transition: all 0.75s ease;
  
    &:hover {

      color: green;
    }
}

.list {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;

.items {

  width: 70%;
  height: 30px;
  background-color: lightblue;
  margin: 2%;
  border-radius: 5px;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;



     .text-item {

      text-align: left;
      font-size: 2rem;
      margin-left: 2%;
     }

     .btn {

      background-color: lightblue;
      border: lightblue;
      text-shadow: lightgray;

        &:hover {

          background-color:lightskyblue;
        }
    }
}
}


